@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400&display=swap');



body{
    display: flex;
    flex-direction: row;
    width: 1603px;
    list-style-type:none
}

header{
    position: absolute;
    width: 1603px;
    height: 70px;
    left: -3px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
}

.title-header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    margin-left: 35px;
    margin-top: -8px;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;

}

.links-upside{

    display: flex;
    flex-direction: row;
    margin-left: 900px;
    margin-top: 27px;
    gap: 14px;
    list-style-type:none;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    
}

.title-product{
    font-size: 20px;
    text-align:left;
}

.products-broad{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    width:900px;
    border-color:#F5F5F5;
    justify-content: center;
    list-style-type:none;
    cursor: pointer;
    margin-top: 101px;
    margin-bottom: -85px;
}

.image-background{
background: #F5F5F5;
width: 200px;

}

.card-product{
    width: 170px;
    height: 200px;
}

.categories-button{
    border-color: #2E245E;
    color:white;
    background-color: #2E245E;
    border-style:inherit;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
}



section{
width: 200px;
margin-bottom: 12px;
font-family: 'IBM Plex Sans', sans-serif;
}

.price{
    color: #2E245E;
    font-weight: bolder;
}

.title-product{
    font-weight: bolder;
}

aside{
margin-top: 100px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: 'IBM Plex Sans', sans-serif;

}

.title-cart{
    font-size: 17px;
    background-color: #37268C;
    color:white;
    text-align: center;
    padding-bottom: 1px;
}

.cart-itens{
width: 240px;
height: 300px;

}

.itens-added{
    margin-top: -19px;
    background-color: #F5F5F5;
    text-align: center;
    height: 250px;
}

.empty{
    font-weight: bold;
}

h6{
font-weight: lighter;
}

.search{
border-radius: 2px;
background-color: #37268C;
color: white;
width: 90px;
height: 30px;
border-color: #37268C;
cursor: pointer;
}

input{
    height: 24px;
}

.product-add{
   text-align: left; 
}

.addForCart{
    border-color: white;
    background-color: white;
    border-style: solid;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.addForCart:hover{
    border: 3px dotted #2E245E;
    color: #2E245E;
    background: #fff;
}

.search:hover{
    color: #37268C;;
    border: #37268C solid 1px;
    background:#d5cef8;
  }

.categories-button:hover{
    color: #37268C;;
    border: #37268C solid 1px;
    background:#d5cef8;;
}

.image-background:hover{
    transform: skew(-10deg);
    background-color: #2E245E;
}